# Règle générale : normaliser tout fichier texte, fins de ligne LF
* text=auto eol=lf

# Scripts AGI et Python : LF forcé, indispensable pour le shebang
*.agi text eol=lf
*.py  text eol=lf
*.php text eol=lf

# Playbooks et fichiers Ansible/YAML
*.yml  text eol=lf
*.yaml text eol=lf

# Fichiers shell
*.sh text eol=lf

#Ficher sql
*.sql text eol=lf

#Ficheir .conf
*.conf eol=lf




# Fichiers binaires : ne jamais toucher (évite toute corruption)
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.pdf  binary
*.zip  binary